<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'htmlfile/cdnfile.html' %}
</head>
<body>
<div class="jumbotron text-center">
    <div class="modal" role="modal" id="entry">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header  bg-secondary text-white">
                <h4>Are you sure want to delete This Student Data</h4>
                <button type="button" class="close" data-dismiss="modal" style="background-color: white">

                </button>
            </div>

                <div class="modal-body"><br>
                    <h3>This is body</h3>
                </div>
        </div>
    </div>
    </div>
</div>


</body>
</html>