<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'htmlfile/cdnfile.html' %}
    <style>
        body
        {
            background-color: darkgray;
        }
        ul{
            list-style-type: none;
        }

    </style>
</head>
<body>
<div class="row">
<div class="col-md-4">

        <form action="" method="POST">
            <h4 class="text-danger">Please Fill Enquary Form </h4>
            {% csrf_token %}
            {{ form }}
            <center>
            <input type="submit" value="Save" class="btn btn-success">
            <input type="reset" value="Clear" class="btn btn-danger">
                </center>

</form>
</div>
</div>



</body>
</html>